:root{
    /*fontes*/
    --fonte-paragrafos : 'Barlow', sans-serif;
    --fonte-titulo :'Barlow Semi Condensed', sans-serif;

    /*cores gerais*/

    --cor-bg: #C5C5C5;
    --cor-card1: #733FC8;
    --cor-card2: #48556A;
    --cor-card3: #17202B;
    --cor-branco: #FFFFFF;
    --cor-texto-claro: #E2E1E1;
    --cor-texto-escuro: #000000;
    --shadow: 0px 5px 10px rgba(0,0,0,0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body{
    background-color: #C5C5C5;
    flex-direction: column;
    
}
img{
    width: 40px;
    border-radius: 50%;

}
.names{
    display: flex;
    flex-direction: column;
    
    margin: 20px;  
}
.img_names{
    display: flex;
    align-items: center;
    margin: 20px;
    
}

.titulo_texts{
    font-size: 26px;
    line-height: 27px;
    font-family: var(--fonte-titulo)
   
}
.texts{
    margin: 2px;
}
p{
    font-size: 17px;
    color: var(--cor-texto-claro);
    padding: 5px;
    font-family: var(--fonte-paragrafos)
}
.color_p{
    color: var(--cor-texto-escuro);
}

#Daniel{
    color: var(--cor-branco);
    background-color: var(--cor-card1);
    margin: 25px;
    padding: 10px;
    border-radius: 12px;
    
}

#Jonathan{
    color: var(--cor-branco);
    background-color: var(--cor-card2);
    margin: 25px;
    padding: 15px;
    border-radius: 12px;    
}
#Jeanette{
    background-color: var(--cor-branco);
    margin: 25px;
    padding: 12px;
    border-radius: 12px;

}
#Patrick{
    color: rgb(190, 190, 190);
    background-color:var(--cor-card3);
    margin: 25px;
    padding: 10px;
    border-radius: 12px;
}
#kira{
    color: var(--cor-texto-escuro);
    background-color: var(--cor-branco);
    margin: 25px;
    padding: 10px;
    border-radius: 12px;
}


@media (min-width: 1200px) {
    body{
        background-color: #F2F2F2;
        display: grid;
        grid-template-areas: 
        'Daniel Daniel  Jonathan kira'
        'Jeanette Patrick  Patrick kira';
        gap: 0px;
        padding: 40px;
        
        
        
        

    }
    

    #Daniel{
        grid-area: Daniel;
        width: 690px;
        height: 360px;
        margin: 15px;
        padding: 30px;
        box-shadow: var(--shadow);
        
    }

    #Jonathan{
        grid-area: Jonathan;
        width: 300px;
        height: 360px;
        margin: 15px;
        padding: 22px;
        box-shadow:var(--shadow);

    }

    #Jeanette{
        grid-area: Jeanette;
        width: 340px;
        height: 303px;
        margin: 15px;
        padding: 30px;
        box-shadow: var(--shadow);
    }

    #Patrick{
        grid-area: Patrick;
        width: 670px;
        height: 310px;
        margin: 10px;
        padding: 30px;
        box-shadow: var(--shadow);
    }

    #kira{
        grid-area: kira;
        width: 270px;
        height: 700px;
        margin: 15px;
        padding: 25px;
        box-shadow: var(--shadow);
    }

    .titulo_texts{
    font-size: 22px;
    line-height: 22px;
    font-family: var(--fonte-titulo);
    

}
.texts{
    margin: 2px;
}
p{
    font-size: 14px;
    padding: 5px;
    line-height: 20px;
    font-family: var(--fonte-paragrafos);
}

}