body{
    background-color: #C5C5C5;
    flex-direction: column;
    
}
img{
    width: 40px;
    border-radius: 50%;

}
.names{
    display: flex;
    flex-direction: column;
    
    margin: 20px;  
}
.img_names{
    display: flex;
    align-items: center;
    margin: 20px;
    
}

.titulo_texts{
    font-size: 26px;
    line-height: 27px;
   
}
.texts{
    margin: 2px;
}
p{
    font-size: 17px;
    color: rgb(226, 225, 225);
    padding: 5px;
}
.color_p{
    color: black;
}

#Daniel{
    color: white;
    background-color: #733FC8;
    margin: 25px;
    padding: 10px;
    border-radius: 12px;
    
}

#Jonathan{
    color: white;
    background-color: #48556A;
    margin: 25px;
    padding: 15px;
    border-radius: 12px;    
}
#Jeanette{
    background-color: white;
    margin: 25px;
    padding: 12px;
    border-radius: 12px;

}
#Patrick{
    color: rgb(190, 190, 190);
    background-color:#17202B;
    margin: 25px;
    padding: 10px;
    border-radius: 12px;
}
#kira{
    color: black;
    background-color: white;
    margin: 25px;
    padding: 10px;
    border-radius: 12px;
}


@media (min-width: 1200px){
    body{
        display: grid;
        grid-template-areas: 
        'Daniel Daniel  Jonathan kira'
        'Jeanette Patrick  Patrick kira';
        
        
    }

    #Daniel{
        grid-area: Daniel;
        width: 670px;
        height: 320px;
        margin: 15px;
        
    }

    #Jonathan{
        grid-area: Jonathan;
        width: 310px;
        height: 310px;
        margin: 15px;

    }

    #Jeanette{
        grid-area: Jeanette;
        width: 260px;
        height: 280px;
        margin: 15px;
    }

    #Patrick{
        grid-area: Patrick;
        width: 735px;
        height: 285px;
        margin: 15px;
    }

    #kira{
        grid-area: kira;
        width: 270px;
        height: 655px;
        margin: 15px;
    }

    .titulo_texts{
    font-size: 24px;
    line-height: 20px;
    

}
.texts{
    margin: 2px;
}
p{
    font-size: 15px;
    padding: 5px;
    line-height: 20px;




    
}

}